<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Kosh Charcutaria</title>
    <script defer src="../js/app.js"></script>
</head>
<body>
    <header>
        <div class="contatos">
            <span class="numero">(45) 99999-999</span>
            <span class="email">koshcharcutaria@gmail.com</span>
        </div>

        <section>
            <div class="logo">
                <a href="./index.html"> 
                    <img src="../src/logo.png" alt="Logo kosh charcutaria" class="logo_img">
                </a>
            </div>
          </section>

        <nav>
            <a href="./acessoProduto.html">Início</a>
            <a href="./produtos.html">Produtos</a>
            <a href="./sobre.html">Sobre</a>
            <a href="./revendas.html">Revendas</a>
        </nav>
        
    </header>

    <div class="imgCentral">
        <div class="slides">
            <div class="slide"><img src="../src/imagem-carrosel.png" alt=""></div>
            <div class="slide"><video src="../src/vidCarrosel1.mp4" autoplay loop muted></video></div>
            <div class="slide"><img src="../src/imagem-carrosel.png" alt=""></div>
            <div class="slide"><video src="../src/vidCarrosel2.mp4" autoplay loop muted></video></div>
        </div>
    </div>
    
    <div class="container-historia">
        <div><h3>Kosh Charcutaria</h3></div>
        <div><button id="b1"><a href="../html/sobre.html">Conheça nossa história</a></button></div>
    </div>

    <div class="kosh-destaques"><h3>Destaques da semana</h3></div>
    <div class="container-destaques">
        <section class="hidden right">
            <div><img src="../src/produtp.png" alt=""></div>
            <div><img src="../src/produtp.png" alt=""></div>
            <div><img src="../src/produtp.png" alt=""></div>
            <div><img src="../src/produtp.png" alt=""></div>
        </section>
        <div class="button"><a href="../html/produtos.html"><button id="b2">Ver todos os produtos</button></a></button></div>
    </div>


    
    <div class="melhores-empresas"><h3>Estamos entre as melhores empresas do estado</h3></div>

    <div class="container-empresas">
        <section class="hidden down">
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
        </section>
        <div class="button">
            
            <button id="b3"><a class="linkzap" href="https://wa.me/message/W3JXAKCDPQPCE1"> Entre em contato!</button></div></a>
    </div>
        

    <footer>
        <div class="footer-content">
            <div class="imglogo-footer"><img src="../src/logo.png"> </div>
                    <p>(45) 99999-999</p> 
                    <p>Email: koshcharcutaria@gmail.com</p>
            <div class="footer-icons">
            <img src="../src/footer_zap.png"> <img src="../src/footer_insta.png"> <img src="../src/footer_face.png">
            </div>
        </div>
    </footer>
    

    <script src="../js/script.js"></script>
</body>
</html>