<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <script defer src="../js/app.js"></script>
    <title>Kosh Charcutaria</title>
</head>
<body>
    <header>
        <div class="contatos">
            <span class="numero">(45) 99999-999</span>
            <span class="email">koshcharcutaria@gmail.com</span>
        </div>

        <section>
              <a href="./index.html"> 
            <div class="logo">
                <img id="logo" src="../src/logo.png" alt="Logo kosh charcutaria" class="logo_img">
            </a>
            </div>
           
        </section>
        
        <nav>
            <a href="./acessoProduto.html">Início</a>
            <a href="./produtos.html">Produtos</a>
            <a href="./sobre.html">Sobre</a>
            <a href="./revendas.html">Revendas</a>
        </nav>
        
    </header>

     <div class="title-sobre"><h3>Sobre nós</h3></div>

    <div class="container-sobre">
        <section>
            <div class="hidden left">
                <img class="imagi" src="../src/produtp.png" alt="Tentar colocar uma foto da empresa ou da logo">
            </div>


            <div class="hidden down">
                <p >A Koch Charcutaria surgiu entre os anos de 2018 e 2019, inspirada pelo desejo de compreender melhor o processo por trás dos alimentos industrializados e ultraprocessados que fazem parte do dia a dia de muitas pessoas. Movido por uma preocupação genuína com a saúde dentro de casa, seu fundador decidiu transformar essa curiosidade em ação: começou, de forma artesanal, a produzir e testar seus próprios embutidos e carnes curadas, inicialmente como um hobby, compartilhando os resultados com amigos e familiares.</p>

            </div>
        </section>
        <section>
            <div class="hidden up">
                <p>O que começou como uma experiência doméstica logo evoluiu para um projeto com propósito: oferecer alimentos mais saudáveis, saborosos e de alta qualidade, resgatando as técnicas tradicionais da charcutaria, como defumação, salga e refrigeração, métodos criados originalmente para conservar alimentos e que, hoje, dão origem a produtos únicos em sabor e textura.</p>
            </div>

            <div class="hidden right">
                <img class="imagi" src="../src/produtp.png" alt="Aqui podemos ver pra colocar ou uma foto dele produzindo ou do alimento em si">
            </div>
        </section>
        <section>
            <div class="hidden left">
                <img class="imagi"src="../src/produtp.png" alt="Nesse colocamos um dos produtos gourmet mais vendido dele">
            </div>

            <div class="hidden down">
                <p >A Koch Charcutaria tem como foco a produção de itens gourmet e prime, elaborados com ingredientes selecionados e um cuidado artesanal em cada etapa do processo. Entre os destaques do seu portfólio estão a copa defumada, o lombo defumado e o pastrami — um clássico norte-americano que se tornou um dos carros-chefe da marca. Além disso, suas linguiças recheadas trazem combinações diferenciadas, pensadas para surpreender o paladar.</p>
            </div>
        </section>
        
        <section>
            <div class="hidden up">
                <p >A Koch Charcutaria tem como foco a produção de itens gourmet e prime, elaborados com ingredientes selecionados e um cuidado artesanal em cada etapa do processo. Entre os destaques do seu portfólio estão a copa defumada, o lombo defumado e o pastrami — um clássico norte-americano que se tornou um dos carros-chefe da marca. Além disso, suas linguiças recheadas trazem combinações diferenciadas, pensadas para surpreender o paladar.</p>

            </div>
            
            <div class="hidden right">
                <img class="imagi"src="../src/produtp.png" alt="Aqui por enquanto eu penso em colocar algum dos itens citados">
            </div>
        </section>

    </div>

    <div class="img-sobre">
        <div class="hidden scale">
            <img id="fernando" src="../src/sobre-fernando.png">
        </div>
        
    </div>
   

    <div class="melhores-empresas"><h3>Estamos entre as melhores empresas do estado</h3></div>

    <div class="container-empresas">
        <section>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
            <div class="empresa"><img src="" alt=""></div>
        </section>
        <div class="button"><button id="b3">Entre em contato!</button></div>
    </div>
        

    <footer>
        <div class="footer-content">
            <div class="imglogo-footer"><img src="../src/logo.png"> </div>
                    <p>(45) 99999-999</p> 
                    <p>Email: koshcharcutaria@gmail.com</p>
            <div class="footer-icons">
            <img src="../src/footer_zap.png"> <img src="../src/footer_insta.png"> <img src="../src/footer_face.png">
            </div>
        </div>
    </footer>
    
</body>
<script>
    console.log("atualizado")
</script>
</html>